{% extends "account/base.html" %}

{% load static %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block extra_head %}
  <style type="text/css">
    body {background-color: #fefdf6}

    .btn-black {
      background-color: rgba(0, 0, 0, 0.95);
      color: white;
      border: none;
      transition: background-color 0.3s;
    }

    .btn-black:hover {
      background-color: rgba(0, 0, 0, 1);
      color: white;
    }

    .card {
      background-color: #fefdf6 !important;
    }

    a {
      color: #000000;
      text-decoration: underline;
    }

    a:hover {
      color: #333333;
    }

    a:visited {
      color: #000000;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner">
        <div class="card" style="box-shadow: none; border:solid; border-width:1px; border-color: #D3D4FF">
          <div class="card-body">
            <div class="justify-content-center">
              <a href="{% url 'home' %}" class="app-brand-link gap-2">
                <span class="app-brand-text demo text-body fw-bold">Agora</span>
              </a>
            </div>

            <h4 class="mb-2">Forgot Password? 🔒</h4>
            <p class="mb-4">Enter your email address and we'll send you instructions to reset your password</p>

            <form method="POST" action="{% url 'account_reset_password' %}">
              {% csrf_token %}
              {{ form|crispy }}

              {% if form.non_field_errors %}
              <div class="alert alert-danger">
                {% for error in form.non_field_errors %}
                  {{ error %}
                {% endfor %}
              </div>
              {% endif %}

              <br>
              <button class="btn btn-black" type="submit" style="width: 100%;">{% trans "Reset My Password" %}</button>
            </form>

            <div class="text-center mt-3">
              <a href="{% url 'account_login' %}">Back to login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
