packages:
  yum:
    gcc: []
    gcc-c++: []
    libpq-devel: []
    python3-devel: []
    git: []
    alsa-lib-devel: []
    make: []
    wget: []
    atlas-devel: []
    lapack-devel: []

commands:
  01_install_portaudio:
    command: |
      cd /tmp
      wget http://files.portaudio.com/archives/pa_stable_v190700_20210406.tgz
      tar xzf pa_stable_v190700_20210406.tgz
      cd portaudio
      ./configure
      make
      make install
      ldconfig
  02_download_ffmpeg:
    command: |
      curl -L -o /tmp/ffmpeg-release-amd64-static.tar.xz https://johnvansickle.com/ffmpeg/releases/ffmpeg-release-amd64-static.tar.xz
      tar -xJf /tmp/ffmpeg-release-amd64-static.tar.xz -C /tmp
      cp /tmp/ffmpeg-*-amd64-static/ffmpeg /usr/local/bin/
      cp /tmp/ffmpeg-*-amd64-static/ffprobe /usr/local/bin/
      chmod +x /usr/local/bin/ffmpeg /usr/local/bin/ffprobe
