container_commands:
  01_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true
  02_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
  03_update_site:
    command: "source /var/app/venv/*/bin/activate && python manage.py shell -c \"from django.contrib.sites.models import Site; site, _ = Site.objects.get_or_create(id=1, defaults={'domain': 'agorap.ccc-mit.org', 'name': 'agora.ccc-mit.org'}); site.domain = 'agorap.ccc-mit.org'; site.name = 'agorap.ccc-mit.org'; site.save()\""
    leader_only: true 
