option_settings:
  aws:elb:listener:443:
    ListenerProtocol: HTTPS
    InstancePort: 80
    InstanceProtocol: HTTP
    SSLCertificateId: arn:aws:acm:us-east-1:411833189048:certificate/ebcad935-cde2-459e-acb3-6e95f240c00d
  
  # Add HTTP to HTTPS redirect
  aws:elb:listener:80:
    ListenerProtocol: HTTP
    InstancePort: 80
    InstanceProtocol: HTTP 