{% load static %}
{% load i18n %}

<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
  
  <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
      <i class="bx bx-menu bx-sm"></i>
    </a>
  </div>

  <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
    <ul class="navbar-nav flex-row align-items-center ms-auto">
      <!-- User -->
      <li class="nav-item navbar-dropdown dropdown-user dropdown">
        <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
          <strong>{{ request.user.username }}</strong>&nbsp;
          <span class="">
            <img style="border-width: 1px; padding:2px" src="{{ request.user.avatar.front_static.url }}" alt class="w-px-40 h-auto " />
          </span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <!-- <li>
            <a class="dropdown-item" href="pages-account-settings-account.html">
              <div class="d-flex">
                <div class="flex-shrink-0 me-3">
                  <div class="avatar avatar-online">
                    <img src="../../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                  </div>
                </div>
                <div class="flex-grow-1">
                  <span class="fw-medium d-block">John Doe</span>
                  <small class="text-muted">Admin</small>
                </div>
              </div>
            </a>
          </li> -->
          <!-- <li>
            <div class="dropdown-divider"></div>
          </li> -->
          {% if request.user.is_superuser %}
          <li>
            <a class="dropdown-item" href="{% url 'summary' %}">
              <i class="bx bx-user me-2"></i>
              <span class="align-middle">Summary</span>
            </a>
          </li>
          <li>
            <div class="dropdown-divider"></div>
          </li>
          {% endif %}
          <li>
            <form class="dropdown-item" method="post" action="{% url 'account_logout' %}" style="">
              {% csrf_token %}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
              {% endif %}
              <i class="bx bx-power-off me-2"></i>
              <button class="align-middle" type="submit" style="color: rgb(105, 122, 141); border:none; background: none">{% trans 'Sign Out' %}</button>
            </form>
          </li>
        </ul>
      </li>
      <!--/ User -->
    </ul>
  </div>
  
</nav>